@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&display=swap');
:root {
    --color-accent-dark: rgb(105, 105, 105);
    --color-1: #B7C9A3;
    --color-1-light: #D4E1C3;
    --color-1-dark: #98AD82;
    --color-2: #8A6B4E;
    --color-2-light: #B4997C;
    --color-2-dark: #624D38;
    --color-title: #2F1E15;
    --backround-color: #F4EDE3;
    --backround-color-hover: #E4D8C7;
}

.header-nav {
    position: relative;
    width: 100%;
}

.dark-cyan-background {
    /*background-color: rgba(10, 24, 56, 0.5);*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*!*opacity: 0.5;*!*/
    /*z-index: -1;*/
}

.container {
    width: 100%;
    position: fixed;
    background: var();
    top: 0;
    z-index: 10;
    margin: auto;
    padding: 20px 0;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    width: 95%;
    margin: auto;
}

.logo-image {
    color: var() !important; /* Updated color */
    font-size: 2rem;
    width: 70px;
}
.Logo{
    min-width: 44px;
    min-height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px ;
    margin: 0;
    justify-content: space-between;
    width: 40%;
}

.nav-link {
    text-decoration: none;
    color: var(--color-1-dark);
    font-size: 1.17rem;
    transition: color 0.3s;
    font-family: 'Cormorant Garamond', serif !important;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--color-1-dark); /* Updated hover color */
}

.nav-actions {
    display: none;
    gap: 20px;
}


.toggle-mobile-button {
    background-color: var(--backround-color);
    border: none !important;
    font-size: 24px;
    cursor: pointer;
    display: none;
    padding: 12px;
    margin-top: 1rem;
    min-width: 44px;
    min-height: 44px;
}
.toggle-mobile-button .burger{
    color: var();
}

.toggle-mobile-button:hover {
    border: none !important;
   .burger{
       color: var() !important; /* Updated hover color */
       transition: 0.3 background-color var();
       border: none !important;
   }
}

@media (max-width: 768px) {
    .nav-list {

        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 5.4rem;
        left: 0;
        background-color: var(--backround-color); /* Updated mobile background */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 30px;
        opacity: 0.99;
        z-index: 1;
        display: none; /* Hide by default */
    }

    .nav-list.open {
        display: flex; /* Show when open */
    }

    .toggle-mobile-button, .nav-actions {
        display: block; /* Show the toggle button on mobile */
        color: var(); /* Updated button color */
    }

}

@media (max-width: 768px) {
    .nav {
        height: 50px;
        padding: 10px 0;
    }
    .logo-image {
        max-width: 120px;
        margin-top: auto;
    }
}
