@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F4EDE3;
    font-family: 'Cormorant Garamond', serif !important;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }
}

button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    border: 1px solid var(--color-primary) !important;
}

.app {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.main-app {
    margin-top: 10vh;
    background: transparent !important;
}

@media (max-width: 769px) {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1rem;
        font-size: 32px;
    }

    p {
        font-size: 17px;
    }
}

input::placeholder,
input:placeholder-shown {
    font-family: "Rubik", sans-serif !important;
}
